@use "latte";
@use "fonts";

.post-content {
    padding: 1rem;
    flex-grow: 1;
    font-family: fonts.$sans-serif;

    @media (min-width: 801px) {
        margin: auto;
        width: 750px;
    }
}

.post-content h1 {
    font-size: 2rem;
    color: latte.$text;

    @media (min-width: 801px) {
        font-size: 2.2rem;
    }
}

.post-content h2 {
    font-size: 1.8rem;
    color: latte.$text;

    @media (min-width: 600px) {
        font-size: 2rem;
    }
}

.post-content p {
    color: latte.$text;
    font-size: 1.2rem;
    line-height: 1.8rem;

    @media (min-width: 600px) {
        font-size: 1.3rem;
        line-height: 2rem;
    }
}

.post-content a {
    color: latte.$rosewater;

    &:visited {
        color: latte.$rosewater;
    }
}

.post-content > ul {
    padding-left: 1.5rem;
    list-style: square;
}

.post-content > ul > li {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: latte.$text;

    @media (min-width: 600px) {
        font-size: 1.3rem;
        line-height: 2rem;
    }
}

.post-content code {
    font-size: 1rem;
}

.post-content pre code {
    font-size: inherit;
}

.post-content pre {
    overflow: auto;
    font-size: 0.8rem;
    line-height: 1.25rem;
    border-radius: 5px;
    padding-left: 0.5rem;
    margin: 1rem 0 3rem 0;
    font-family: fonts.$monospace;

    @media (min-width: 600px) {
        font-size: 0.9rem;
    }
}

.post-content .post-title {
    margin-bottom: 0;
}

.post-content .details {
    color: latte.$overlay1;
    font-size: 0.8rem;
    font-family: fonts.$monospace;
    margin: 0;
    padding: 0;
}

.post-content .blog-note {
    color: latte.$subtext0;
    padding: 1rem;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
}

.table-of-contents {
    list-style: none;
    margin-top: 1rem;
    background-color: latte.$mantle;
    padding: 1rem;
}

.table-of-contents > .toc-item {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: latte.$subtext1;
    list-style: none;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    &:before {
        content: "#";
    }

    @media (min-width: 600px) {
        font-size: 1.3rem;
        line-height: 2rem;
    }
}

.table-of-contents > .toc-item > a {
    all: unset;

    &:visited {
        color: inherit;
    }
}
