@use "latte";
@use "fonts";

.posts-content {
    padding: 1rem;
    margin: auto;
    font-family: fonts.$sans-serif;
    color: latte.$text;

    @media (min-width: 801px) {
        width: 750px;
    }
}

.posts-content a {
    color: latte.$rosewater;

    &:visited {
        color: latte.$rosewater;
    }
}

code {
    font-family: fonts.$monospace;
    font-size: 1rem;
}

.details {
    color: latte.$overlay1;
    font-size: 0.8rem;
    font-family: fonts.$monospace;
    margin: 0;
    padding: 0;
}

.post-card {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: latte.$base;
}

.post-card .header {
    color: latte.$text;
    text-decoration: none;
    margin: 0;
    padding: 0;

    &:visited {
        color: inherit;
    }
}

.post-card h1 {
    margin-top: 0.5rem;
}

.post-card .summary {
    color: latte.$text;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.button-container {
    margin: auto;
    text-align: center;
}

.posts-content a.button {
    display: inline-block;
    background-color: latte.$surface1;
    padding: 1rem 2rem;
    text-decoration: none;
    text-align: center;
    color: latte.$text;

    &:hover {
        color: latte.$text;
    }
}
