@use "latte";
@use "fonts";

.button-container {
    margin: auto;
    text-align: center;
}

.posts-content a.button {
    display: inline-block;
    background-color: latte.$base;
    padding: 0.5rem 2rem;
    text-decoration: none;
    text-align: center;
    color: latte.$text !important;

    &:hover {
        color: latte.$text;
    }
}
