@font-face {
    font-family: "et-book";
    src: url("/static/fonts/et-book-roman-line-figures.woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("/static/fonts/et-book-display-italic-old-style-figures.woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("/static/fonts/et-book-bold-line-figures.woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url("/static/fonts/FiraCode-Regular.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
