@use "themes/solarized.scss";
@use "fonts.scss";

// Colors
$color-bg: #fffff8;
$color-fg: solarized.$base0;
$color-text-muted: solarized.$base1;
$color-text-strong: solarized.$base01;
$color-accent: solarized.$yellow;
$color-link: solarized.$base00;
$color-card-bg: solarized.$base03;
$color-card-fg: solarized.$base0;

// Font
$font-sans-serif: "et-book", "sans-serif";
$font-monospace: "Fira Code", "monospace";

