<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {%- for page in pages %}
    <url>
        <loc>{{ page.permalink | escape_xml | safe }}</loc>
        <lastmod>{{ page.updated }}</lastmod>
    </url>
    {%- endfor %}
</urlset>
