$black = #282c34
$grey1 = #353b45
$grey2 = #3e4451
$grey3 = #545862
$grey4 = #565c64
$grey5 = #abb2bf
$grey6 = #b6bdca
$grey7 = #c8ccd4
$red = #E06C75
$orange = #d19a66
$yellow = #E5C07B
$green = #98c389
$cyan = #56B6C2
$blue = #61afef
$magenta = #C678DD
$darkred = #be5046