@require "colors"

.error-header
    color: $black

.error-description
    font-weight: 500
    color: $grey3
    margin-top: 2rem

.home-link
    color: $red

.home-link:hover
    text-decoration: underline