@require "colors"

.post-item
    display: flex
    flex-direction: column
    border-bottom: 1px solid $black
    padding: 2.5rem 0 2.5rem 0.5rem

.post-title
    font-size: 1.875rem
    line-height: 2.25rem
    color: $red

.post-title:hover
    text-decoration: underline

.post-date
    color: $grey2
    opacity: 70
    font-weight: 500
    font-size: 0.875rem
    line-height: 1.25rem
    margin-bottom: 1rem

.post-summary
    color: $black
    opacity: 80

.all_posts
    flex-shrink: 0

    font-size: 2.25rem
    line-height: 2.5rem
    background-color: $red
    color: $black

