@font-face
    font-family: "Nunito"
    src: url("Nunito-Regular.ttf")

@font-face
    font-family: "Fira Code"
    src: url("FiraCode-Regular.ttf")

$sans-serif = "Nunito", sans-serif
$monospace = "Fira Code", monospace