@require "fonts"

.post-container
    width: 100%
    display: flex

    @media screen and (min-width: 820px)
        margin-left: auto
        margin-right: auto
        max-width: 50rem
        min-width: 50rem

.post
    flex: none
    width: 100%

.post p
    font-size: 1.1rem
    line-height: 1.65rem
    font-family: $sans-serif
    font-weight: 590
    color: $grey4

.post a
    color: $red

//.post h1,
//.post h2,
//.post h3,
//.post h4,
//.post h5,
//.post h6
//    //width: 50%

.post h1
    font-size: 3rem
    line-height: 1

pre
    overflow: auto
    font-size: 0.875rem
    line-height: 1.25rem
    font-weight: 100
    border-radius: 5px
    padding: 10px
    margin: 2rem 0 2rem 0
    font-family: $monospace

    @media screen and (min-width: 820px)
        max-width: 100%

    @media screen and (min-width: 1024px)
        width: 60%