.search-results
    display: flex
    justify-content: center
    width: 100%

.search-feed
    width: 100%
    padding: 0 1rem 1rem 1rem

.results-header
    width: 100%
    margin-bottom: 0
    text-align: center
