{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/styles/post.css" />
    <meta name="description" content="{{ summary }}"/>
{% endblock head %}

{% block content %}
    <div class="post-content">
        <h1>{{ title }}</h1>
        <p class="details"> {{ date }} * {{ tags }} </p>
        <ul class="table-of-contents">
            <h2 class="toc-header">Contents</h2>
            {% for header in toc %}
                <li class="toc-item">
                    <a href={{ '#' ~ header | lower | replace(from=' ', to='-') }}>{{ header }}</a>
                </li>
            {% endfor %}
        </ul>
        {{ markup | safe }}
    </div>
{% endblock content %}
