
.series-content {
    padding: 1rem;
    grid-area: posts;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.2rem;
    max-width: 750px;
    line-height: 1.8rem;

    @media screen and (min-width: 600px) {
        width: 100%;
    }
}

