@use "colors";
@use "fonts";

body {
    padding: 1rem;
}

.post-content {
    width: 100%;
    margin: auto;
    font-family: fonts.$sans-serif;

    @media (min-width: 801px) {
        width: 750px;
    }
}

.post-content h1 {
    font-size: 2rem;
    margin-bottom: 0;

    @media (min-width: 600px) {
        font-size: 2.2rem;
    }
}

.post-content p {
    color: colors.$base01;
    font-size: 1.2rem;
    line-height: 1.8rem;

    @media (min-width: 600px) {
        font-size: 1.3rem;
        line-height: 2rem;
    }
}

.post-content a {
    color: colors.$blue;

    &:visited {
        color: colors.$violet;
    }
}

.post-content .tags {
    color: colors.$base03;
    font-size: 0.8rem;
    font-family: fonts.$monospace;
    margin: 0;
    padding: 0;
}

pre {
    overflow: auto;
    font-size: 0.8rem;
    line-height: 1.25rem;
    border-radius: 5px;
    border: 1px solid colors.$base1;
    padding-left: 0.5rem;
    margin: 1rem 0 3rem 0;
    font-family: fonts.$monospace;

    // &:before {
    //     display: block;
    //     width: calc(100%);
    //     padding-top: 0.4rem;
    //     position: relative;
    //     text-transform: capitalize;
    //     font-size: 0.9rem;
    //     content: attr(lang);
    // }

    @media (min-width: 600px) {
        font-size: 0.9rem;
    }
}
